    /*CSS RESET de josh w comeau*/
    *, *::before, *::after {
        box-sizing: border-box;
      }
      * {
        margin: 0;
      }
      html, body {
        height: 100%;
      }
      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }
      img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
      }
      input, button, textarea, select {
        font: inherit;
      }
      p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
      }
      #root, #__next {
        isolation: isolate;
      }
          /*fin del reset*/

          body {
            background: linear-gradient(135deg, #50aa00, #afa, #50aa00);
          }

          a {
            text-decoration: none;
            color: #701377;
            text-indent: 5px;
          }

          p {
            text-indent: 5px;
          }
      
          #Cabecera {
              padding: 50px 1100px 50px 250px;
              opacity: 35%;
          }
          #Titulo {
              text-align: center;
              -webkit-text-fill-color: #eee;
              -webkit-text-stroke: 2px; color: #50aa00;
              font-family: "Mochiy Pop P One", "Titillium Web";
              font-size: 64px;
              text-align: left;
              padding: 0px 30px 30px 35px;
              text-decoration: none;
          }
      
          #Introduccion {
              font-family: 'Courier New', Courier, monospace;
              font-size: 20px;
              color: #fff;
              font-weight: bolder;
              text-shadow: 0px 0.1em 0.1em #000;
              text-align: right;
              opacity: 50%;
              position: relative;
              top: -55px;
              right: 55px;
          }
          #Menu {
              border-color: #eee;
              border-width: 2px;
              border-radius: 30px;
              border-style: groove;
              padding: 1px;
              margin: 0px 300px 35px 250px;
              top: 220px;
          }
          .menuelements {
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              font-size: 14px;
              font-weight: bolder;
              color: #eee;
              text-shadow: 0px 1px 1px #000;
              position: relative;
              left: 7px;
              margin: 0px 25px 0px 35px;
          }
      
          .menuelements:hover {
              background-color: #50aa00;
              color: #fff; 
              font-size: 16px;
          }

          .contenido {
              margin: auto;
              border: 2px solid #ccc;
              inline-size: 850px;
              block-size: auto;
              background: radial-gradient(#edf6e5, #dceecc, #afa);
              color: #701377;
              text-indent: 15px;
              font-size: larger;
              text-align: center;
          }

          .iconosContacto {
            width: 50px;
            height: 50px;
            padding: 5px;
            margin: auto;
          }