.propuestas {
    border-color: #666;
    border-width: 2px;
    border-style: ridge;
    border-radius: 5%;
    background-color: #cfc;
    padding: 10px 5px 25px 5px;
    margin: 20px 500px 10px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    transform: skewX(1deg);
  }
  .thumbsup {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-color: #000;
    border-width: 1px;
    border-radius: 5%;
    border-style: solid;
    background-color: #50aa00;
    opacity: 40%;
    cursor: pointer;
  }
  .thumbsup:hover {
    opacity: 100%;
  }
  .thumbsdown {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 33px;
    border-color: #000;
    border-width: 1px;
    border-radius: 5%;
    border-style: solid;
    background-color: #cc6696;
    opacity: 40%;
    cursor: pointer;
  }
  .thumbsdown:hover {
    opacity: 100%;
  }